
*.map
*.lst
*.a
*.sym2
*.obj
*.hex
*.elf
*.cof
*.o
*.str1
*.sym1
*.sym3
*.asm
*.rom
*.h~
*.hci
*.c~
*.prj~
*.fct
fsm-toggle/Debug/Link/ctype.al
*.al
*.ol
*.cbi
*.cci
*.cproj
fsm-kedip-v2/fsm-kedip-v2.componentinfo.xml
*.cfg
*.cwp
